@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  background: #fffefc;
}

.app-container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(156, 108, 79, 0.1);
}

.main-content {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
}

@media (max-width: 479px) {
  .main-content {
    max-width: 100%;
  }
}
